body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;

    color: white;
    padding: 32px;
}

.section1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 128px;
   
}

.section2 {
    background-color: #e5e7eb;
    flex-flow: column wrap;
    justify-content: center;   
    padding: 128px;
    
}

.section3 {
    text-align: center;
    margin: 0;  
    justify-content: center;
    padding: 128px;
}

.section1,
.section2,
.section3{
    flex: 1;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    padding: 16px;
    margin-bottom: 64px;
}

.container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 860px;
}

.container3 {
    background-color: #3882f6;
    display: flex;
    gap: 256px;
    align-items: center;
    border-radius: 8px;
    padding: 48px 128px;
    
}
.bigcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
} 


.text3   {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: white;

}
.item {
    max-width: 200px;
    margin: 8px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #1f2937;
}
.toprightlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 64px;
    padding: 16px;
    margin-bottom: 64px;
}

.underlogo{
    margin: 0px;
}

.quote {
    font-size: 36px;
    font-style: italic; 
    font-weight: light;
    color: #1F2937;

}

.endquote {
    font-weight: bold;
    font-size: 18px;
    text-align: end;
    

}

.image1 {
    width: auto;
    height: 200px;
}

.image2 {
    width: 100px;
    height: 100px;
}



button {
    font-family: Roboto, sans-serif;
    border: none;
    background: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    margin-top: 8px;
}

button.signup {
    border: 2px white solid;
}

.logotext {
    font-size: 24px;
    color: #f9faf8;
    
}


h1 {
    font-size: 48px;
    font-weight: 600;
    color: #f9faf8;
    margin: 0px;
}

h2,
p {
    margin: 0px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.item p {
    font-size: 18px;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}