body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 40px;
}
body {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fixed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    max-height: 64px;
    width: 100%;
    position: fixed;  
       
}
.fixed-header{
    top: 0;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity:.75;
    color: white;
    padding: 32px;
}

.section1 {
    flex-direction: column;
    justify-content: center;
    
    margin-top: 32px;
    margin-bottom: 128px;

   
}

.section2 {
    background-color: black;
    opacity: .75;
    flex-flow: column wrap;
    justify-content: center;   
    padding: 128px;
    
}

.section3 {
    text-align: center;
    margin: 0;  
    justify-content: center;
    padding: 128px;
}

.section1,
.section2,
.section3{
    flex: 1;
    display: flex;
    align-items: center;
}


.container1 {
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;
    
    background-color: rgba(0,0,0,.75);
    border-radius: 30px;
    margin: 0;
    padding: 32px;
    white-space: nowrap;
    width: 1280px;
    overflow-x: auto;
}

.container1::-webkit-scrollbar {
    width: 1em;
}
.container1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.container1::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid gold;
}

.container1.item {
    width: 240px;
    margin: 1px 10  px;
    color: black;
    
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
}

.container3 {
    background-color: black;
    opacity: .75;
    border-radius: 30px;
    border-style: solid;
    border-color: #fbc901;
    display: flex;
    gap: 256px;
    align-items: center;
    border-radius: 8px;
    padding: 48px 128px;
    
}

.bottomheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 128px;
    gap: 64px;
    padding: 64px;
    background-color: rgba(0,0,0,.75);
    border-radius: 30px;
    border-style: solid;
    border-color: #fbc901;
    
}


.bigcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
} 


.text3 {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: white;
}
.text3 p{
    color: white;
}


.title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
    color: white;
}


.toprightlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    padding: 16px;
  
}

.underlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 16px;
    padding: 64px;
}

.quote {
    font-size: 36px;
    font-style: italic; 
    font-weight: light;
    color: white;

}

.endquote {
    font-weight: bold;
    font-size: 18px;
    text-align: end;  
    color: white;
}


.image1 {
    width: auto;
    height: 200px;
}

.image2 {
    width: 400px;
    height: 250px;
    border-style: inset;
    border-color: #fbc901;
}


button {
    font-family: Roboto, sans-serif;
    background: black;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    margin-top: 8px;
}

.signup {
    display: flex;
    flex-shrink: 0;
    border: 2px #fbc901 solid;
}

.logotext {
    font-size: 24px;
    color: #f9faf8;  
}

.eldenringlogo {
    max-height: 64px;
    max-width: 64px;
    object-fit: fill;
}

.tailsmenimg {
    max-height: 32px;
    max-width: 32px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin: 0px;
}

h2,
p {
    margin: 0px;
}

.subtext {
    font-size: 18px;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    
 
}
.item p {
    font-size: 18px;
    color: white;
    width: 500px;
    margin: 10px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}